app/config/configuration.php
vendor/symfony/finder/Finder.php
app/config/events.conf.php
app/config/auth.conf.php
app/config/mail.conf.php
app/config/profile.conf.php
app/config/add_course.conf.php
app/config/course_info.conf.php
app/cache/twig/
app/cache/Serializer/
app/cache/
app/courses/*
!app/courses/proxy.php
